@model OdeToFood.Entities.Restaurant
@{
    ViewBag.Title = "Detail";
}

<h1>Name : @Model.Name</h1>
<div>Id : @Model.Id</div>
<div>Cuisine : @Model.Cuisine</div>
<div>
    <a href="/">Home</a>
</div>

